.news-scroll-content {
    display: inline-block;
    animation: scroll-left 12s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%);
    }
}

.news-scroll-container {
    position: fixed;
    top: 60px; /* Increased from 40px to align below the nav bar on DESKTOP */
    left: 0;
    width: 100%;
    background-color: navy;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;
    z-index: 1000;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
    .news-scroll-container {
        top: 53px; /* Position below the stacked nav links */
    }
}